body {
    padding: 0;
    margin: 0;
}

.body h1 {
    position: fixed;
    width: 100%;
    height: 100px;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.body  {
        display: flex;
        overflow: auto;
        flex: 1 1 auto;
        background-image: url("images/background-optimized.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }




.galleries {
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
    align-items: flex-start;
    justify-content: space-evenly;

}

.album {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column wrap;
    border: 10px solid black;
    background-color: black;
}

.album img {
    width: 208px;
    height: 138.67px;
}

.album img:hover {
    opacity: 0.8;
}

.album h5, h6 {
    background-color: black;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 1px solid black;
    color: white;
    text-align: center;
}


.album a {
    text-decoration: none;
}

.footer {
    flex: 0 0 50px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.footer ol {
    list-style-type: none;
}